@* If I put a partial view in the Shared folder then it can be found automatically *@

@model Packt.Shared.Employee

<div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">@Model.FirstName @Model.LastName</div>
    <div class="card-body text-dark">
        <h5 class="card-title">@Model.Country</h5>
        <p class="card-text">@Model.Notes</p>
    </div>
</div>